body {
  width: 100%;
  margin: 0;
  padding: 0;
}

questionnaire {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

question {
  width: 90%;
  margin: 20px auto;
  font-size: 18pt;
}

answer p {
  font-size: 12pt;
  border: 1px solid #000;
  padding:6px;
}

answer p:hover {
  cursor: pointer;
  background-color: #999;
}

explanation {
  display: none;
  /*max-width: 30vw;*/
}


answer [visible="true"] {
  display: block;
  margin-left:10px;
  padding:10px 5px 10px 10px;
  font-size: 12pt;
  word-break: break-word;
  border:1px solid #999;
  background-color: #999;
}

answer [visible="true"] p{
  border:0;
}

@media (min-width: 768px) {
  question {
    width: 60%;
  }


}
