/* ERROR MESSAGE */
questionnaire .error-wrapper{
  display:block;
  max-width: 600px;
  border: 5px solid red;
   margin: 0 auto;
  padding:0 20px;
}
questionnaire .error-header{

}
questionnaire .error-box{
font-size:16pt;
line-height:1.5em;
}

questionnaire .error-message{
  font-family:monospace;
  font-size:12pt;
}

/* QUESTIONNAIRE */
/* Basic layout */
questionnaire {
  display: block;
  margin: 40px 0 100px ;
}
questionnaire .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

questionnaire .question-overview{
margin: 0 auto 10px;
font-size:1.1em;
}
questionnaire question{
  width: 90%;
  margin: 0 auto;
  font-size: 18pt;
  padding:4vw;
  background-color: #fcfcfc;
}

questionnaire .question-header, questionnaire .question-footer, questionnaire .wrapper-answer {
  display: inline-flex;
  width: 100%;
}

questionnaire .question-header {
  justify-content: space-between;
  margin-bottom: 0.5em;
}

questionnaire .question-footer{
  justify-content: center;
}

questionnaire .wrapper-answer, questionnaire explanation {
  border: 1px solid #eee;
  padding: 5px 12px;
  font-size: 14pt;
  margin: 15px 0 0;
  width:90%;
}
questionnaire explanation {
  margin-top: 0;
  border-top: 0;
}
questionnaire answer[correct="true"] explanation {
  border: 2px solid lightgreen;
  border-top: 0;
}
questionnaire answer[correct="false"] explanation {
  border: 2px solid lightpink;
  border-top: 0;
}

questionnaire .wrapper-answer:hover {
  cursor: pointer;
  background-color: #eee;
}

questionnaire answer p {
  margin: 0 0 0 16px;
  padding: 6px;
  /*font-size: 12pt;
  border: 1px solid #000;
  width:100%;*/
}


questionnaire explanation {
  display: none;
  /*max-width: 30vw;*/
}

questionnaire answer [visible=true] {
  margin: 5px 0;
  padding: 15px 12px;
  font-size: 12pt;
  word-break: break-word;
  border:0;
  background-color: #fdfdfd;
}

questionnaire answer [visible=true] p {
  border: 0;
}

questionnaire .answer-mark, questionnaire .expander, questionnaire .collapser {
  height: 1em;
  align-self: center;
}

questionnaire p {
  margin: 0;
  align-self: center;
}

questionnaire .wrapper-answer > div, questionnaire .question-header > div {
  margin: 0.5em;
  align-self: center;
}

@media (min-width: 768px) {
  questionnaire question {
    max-width: 600px;
  }
}

/* FEEDBACK */
/* text */
questionnaire .correct-text, questionnaire .wrong-text {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  display: none;
}
questionnaire question[answer="correct"] .correct-text {
  display: inline-flex;
  color: darkgreen;
}
questionnaire question[answer="wrong"] .wrong-text {
  display: inline-flex;
  color: darkred;
}

/* question border */
questionnaire question[answer="pending"] {
  border: 1px solid silver;
}

questionnaire question[answer="correct"] {
  border: 1px solid green;
}

questionnaire question[answer="wrong"] {
  border: 1px solid darkred;
}

/* answers */
questionnaire question[answer="pending"] answer[selected="true"] .wrapper-answer {
  border: 2px solid grey;
}
/* *="o" means correct or wrong, not pending */
questionnaire question[answer*="o"] answer[correct="true"][selected="true"] .wrapper-answer {
  border: 2px solid green;
}
questionnaire question[answer*="o"] answer[correct="true"] .wrapper-answer {
  background-color: lightgreen;
}
questionnaire question[answer*="o"] answer[correct="false"][selected="true"] .wrapper-answer {
  border: 2px solid darkred;
  background-color: lightpink;
}

/* explanation */
/* manually expanded explanation */
questionnaire .collapser, questionnaire .expander {
  display: none;
}
questionnaire .answer-text-container {
  flex-grow: 4;
}

questionnaire question[answer*="o"] .expander {
  display: block;
}

questionnaire question[answer*="o"] answer[expanded="true"] explanation {
  display: block;
}
questionnaire question[answer*="o"] answer[expanded="true"] .expander {
  display: none;
}
questionnaire question[answer*="o"] answer[expanded="true"] .collapser {
  display: block;
}

/* NAVIGATION */
/* only show question that has been set visible */
questionnaire question{
  display:none;
}
questionnaire [visible=true]{
  display:block;
}

/* button styles */
questionnaire .submit-button, questionnaire .next-button {
  padding:15px;
  margin:5px 15px;
  margin-top: 15px;
  border: 4px solid #bbb;
  border-radius: 7px;
  font-size:1.3em;
}
questionnaire .submit-button:hover, questionnaire .next-button:hover{
  background-color: #bbb;
  cursor:pointer;
}

/* show submit-button for unanswered multiplechoice questions */
questionnaire .submit-button {
  display: none;
}
questionnaire question[type="multiplechoice"][answer="pending"] .submit-button {
  display: block;
}

/* show next-button for answered questions */
questionnaire .next-button {
  display: block;
}
questionnaire question[answer="pending"] .next-button {
  display: none;
}
questionnaire question:last-of-type .next-button {
  display: none;
}
