/* ERROR MESSAGE */
questionnaire .error-wrapper{
  display:block;
  max-width: 600px;
  border: 5px solid red;
   margin: 0 auto;
  padding:0 20px;
}
.error-header h2{
margin: 10px 0;
}
questionnaire .error-box{
font-size:1.1em;
line-height:1.5em;
}

.error-message{
  font-family:monospace;
  font-size:1em;
}

questionnaire pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

/* QUESTIONNAIRE */

/* Color variables */
questionnaire {
  --bubble-current: azure;
  --bubble-pending: white;

  --pending-border: silver;

  --correct-background: lightgreen;
  --correct-border: green;
  --correct-border-light: lightgreen;
  --correct-text: darkgreen;

  --wrong-background: lightpink;
  --wrong-border: darkred;
  --wrong-border-light: lightpink;
  --wrong-text: darkred;

  --question-background: #fcfcfc;

  --answer-border-and-hover: #eee;
  --answer-background: #fdfdfd;
  --answer-border-selected: grey;

  --button-border-and-hover: #bbb;

  --summary-bar-background: azure;

}

/* Basic layout */
questionnaire {
  display: block;
  margin: 40px 0 100px ;
}
questionnaire .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

questionnaire .question-overview{
margin: 0 auto 10px;
font-size:1.2em;
}

questionnaire question, questionnaire .summary {
  width: 90%;
  margin: 0 auto;
}
questionnaire question .question-content, questionnaire .summary {
  font-size: 1.3em;
  padding: 2em;
  background-color: var(--question-background);
}

questionnaire .question-header, questionnaire .question-footer, questionnaire .wrapper-answer {
  display: inline-flex;
  width: 100%;
}

questionnaire .question-header {
  justify-content: space-between;
  margin-bottom: 0.5em;
}

questionnaire .question-footer{
  justify-content: center;
}

questionnaire .wrapper-answer, questionnaire explanation {
  border: 1px solid var(--answer-border-and-hover);
  padding: 5px 12px;
  font-size: 0.9em;
  margin: 15px 0 0;
  width:90%;
}
questionnaire explanation {
  margin-top: 0;
  border-top: 0;
}
questionnaire answer[correct="true"] explanation {
  border: 1px solid var(--correct-border-light);
  border-top: 0;
}
questionnaire answer[correct="false"] explanation {
  border: 1px solid var(--wrong-border-light);
  border-top: 0;
}

questionnaire .wrapper-answer:hover {
  cursor: pointer;
  background-color: var(--answer-border-and-hover);
}

questionnaire answer p {
  margin: 0 0 0 16px;
  padding: 6px;
}


questionnaire explanation {
  display: none;
}

questionnaire answer [visible=true] {
  margin: 5px 0;
  padding: 15px 12px;
  word-break: break-word;
  border:0;
  background-color: var(--answer-background);
}

questionnaire answer [visible=true] p {
  border: 0;
}

questionnaire .answer-mark, questionnaire .expander, questionnaire .collapser {
  width: 1.5em;
  align-self: center;
}

questionnaire .answer-mark-selected {
  display: none;
}

questionnaire answer[selected="true"] .answer-mark-selected {
  display: inline-flex;
  margin-left: -1.5em;
}

questionnaire p {
  margin: 0;
  align-self: center;
}

questionnaire .wrapper-answer > div, questionnaire .question-header > div {
  margin: 0.5em;
  align-self: center;
}

/* RESPONSIVE MAX WIDTH */
@media (min-width: 768px) {
  questionnaire question, questionnaire .summary {
    max-width: 600px;
    box-sizing: border-box; /* includes padding in width */
  }
}

/* FEEDBACK */
/* feedback happens animated with 0.5s delay */
@keyframes show-delayed {
  0% {
    height: 0;
    visibility: hidden;
  }
  99% {
    height: 0;
    visibility: hidden;
  }
  100% {
    height: auto;
    visibility: visible;
  }
}
/* text */
questionnaire .correct-text, questionnaire .wrong-text {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  display: none;
}
questionnaire question[answer="correct"] .correct-text {
  display: inline-flex;
  color: var(--correct-text);
  animation: show-delayed 0.5s;
}
questionnaire question[answer="wrong"] .wrong-text {
  display: inline-flex;
  color: var(--wrong-text);
  animation: show-delayed 0.5s;
}

/* question border (fancy animated version) */
questionnaire question {
  position: relative;
}

questionnaire question .default-border {
  background-color: var(--pending-border);
  position: absolute;
  z-index: -2;
  margin: -1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
questionnaire question[answer*="o"] .default-border {
  background-color: transparent;

  /* transition: background-color 0.5s steps(1, start); */
  transition: background-color 0.5s easeOutQuint;
}

questionnaire question .animated-border-lr {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  margin: -1px;
  left: 0;
  right: 0;
  height: 0;
  top: 50%;
}
questionnaire question[answer*="o"] .animated-border-lr {
  background-color: var(--correct-border);
  top: 0;
  height: calc(100% + 2px);
  transition: height 0.5s ease-out, top 0.5s ease-out;
}
questionnaire question[answer="wrong"] .animated-border-lr {
  background-color: var(--wrong-border);
}

questionnaire question .animated-border-tb {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  margin: -1px;
  top: 0;
  bottom: 0;
  width: 0;
  left: 50%;
}
questionnaire question[answer*="o"] .animated-border-tb {
  background-color: var(--correct-border);
  left: 0;
  width: calc(100% + 2px);
  transition: width 0.5s ease-out, left 0.5s ease-out;
}
questionnaire question[answer="wrong"] .animated-border-tb {
  background-color: var(--wrong-border);
}


/* answers */
questionnaire question[answer="pending"] answer[selected="true"] .wrapper-answer {
  border: 2px solid var(--answer-border-selected);
}
/* *="o" means correct or wrong, not pending */
questionnaire question[answer*="o"] .wrapper-answer {
  transition: border 0.5s steps(1,end), background-color 0.5s steps(1,end);
}
questionnaire question[answer*="o"] answer[correct="true"][selected="true"] .wrapper-answer {
  border: 2px solid var(--correct-border);
}
questionnaire question[answer*="o"] answer[correct="true"] .wrapper-answer {
  background-color: var(--correct-background);
}
questionnaire question[answer*="o"] answer[correct="false"][selected="true"] .wrapper-answer {
  border: 2px solid var(--wrong-border);
  background-color: var(--wrong-background);
}

/* explanation */
/* manually expanded explanation */
questionnaire .collapser, questionnaire .expander {
  display: none;
}
questionnaire .answer-text-container {
  flex-grow: 4;
}

questionnaire question[answer*="o"] .expander {
  display: block;
}

questionnaire question[answer*="o"] answer[expanded="true"] explanation {
  display: block;
  /* animation: show-delayed 0.5s; */
}
questionnaire question[answer*="o"] answer[expanded="true"] .expander {
  display: none;
}
/* @keyframes rotate-down {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */
questionnaire question[answer*="o"] answer[expanded="true"] .collapser {
  display: block;
  /* animation: rotate-down 0.5s; */
}

/* NAVIGATION */
/* only show question that has been set visible */
/* switch items with "pagination" effect */
questionnaire question{
  /* display:none; */
  transform: translateX(-100%);
  visibility: hidden;
  max-height: 0;
  transition: transform 0.5s ease-out 0s, visibility 0.5s ease-out 0s, max-height 0.5s steps(1,end) 0s;
}
questionnaire question[visible="true"] ~ question {
  transform: translateX(100%);
  visibility: hidden;
  max-height: 0;
  transition: transform 0.5s ease-out 0s, visibility 0.5s ease-out 0s, max-height 0.5s steps(1,end) 0s;
}
questionnaire .summary {
  /* display: none; */
  transform: translateX(100%);
  visibility: hidden;
  max-height: 0;
  transition: transform 0.5s ease-out 0s, visibility 0.5s ease-out 0s, max-height 0.5s steps(1,end) 0s;
}

questionnaire question[visible="true"], questionnaire .summary[visible="true"] {
  visibility: visible;
  transform: translateX(0);
  max-height: 20000vh; /* Using max-height, because height:auto is not animatable. very large value that should not realistically be reached.*/
  transition: transform 0.5s ease-out 0.5s, visibility 0.5s ease-out 0.5s, max-height 0.5s steps(1,start) 0.5s;
}

/* button styles */
questionnaire .submit-button, questionnaire .next-button, questionnaire .reset-button {
  padding:15px;
  margin:5px 15px;
  margin-top: 15px;
  border: 4px solid var(--button-border-and-hover);
  border-radius: 7px;
}
questionnaire .submit-button:hover, questionnaire .next-button:hover, questionnaire .reset-button:hover {
  background-color: var(--button-border-and-hover);
  cursor:pointer;
}

/* show submit-button for unanswered multiplechoice questions */
questionnaire .submit-button {
  display: none;
}
questionnaire question[type="multiplechoice"][answer="pending"] .submit-button {
  display: block;
}

/* show next-button for answered questions */
questionnaire .next-button {
  display: block;
}
questionnaire question[answer="pending"] .next-button {
  display: none;
}
questionnaire question:last-child .next-button {
  display: none;
}

/* NAVIGATION/SUMMARY BUBBLES */
questionnaire .question-overview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -1em;
  height: 2em;
  z-index: 1000;
}
questionnaire .bubble {
  height: 1em;
  width: 1em;
  border: 1px solid transparent;
  border-radius: 0.5em;
  display: inline-flex;
  margin: 0 0.25em;
  transition: height 0.5s ease-out 0s, width 0.5s ease-out 0s, border-radius 0.5s ease-out 0s;
}
questionnaire .bubble:hover {
  cursor: pointer;
  transform: scale(0.9);
}
questionnaire .bubble-pending {
  background-color: var(--bubble-pending);
  border-color: var(--pending-border);
}
questionnaire .bubble-current {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--bubble-current);
  transition: height 0.5s ease-out 0.5s, width 0.5s ease-out 0.5s, border-radius 0.5s ease-out 0.5s;
}
questionnaire .bubble-correct {
  background-color: var(--correct-background);
  border-color: var(--correct-border);
}
questionnaire .bubble-wrong {
  background-color: var(--wrong-background);
  border-color: var(--wrong-border);
}

/* SUMMARY */
questionnaire .summary[visible="true"] {
  display: block;
  text-align: center;
  border: 1px solid var(--pending-border);
}
questionnaire .summary-bar-container {
  width: 100%;
  background-color: var(--summary-bar-background);
  margin: 1em;
  margin-left: 0;
  margin-right: 0;
}
questionnaire .summary-bar {
  background-color: var(--correct-background);
  border: 1px solid var(--correct-border);
  padding: 0.25em;
  width: 1%;
}
