body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

questionnaire{
  display:block;
  margin:40px 0 100px ;
}

.wrapper-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}
question{
  display:none;
}
.question-overview{
margin: 0 auto 10px;
font-size:1.1em;
}
question{
  width: 90%;
  margin: 15px auto 15px;
  font-size: 18pt;
  padding:4vw;
  background-color: #fcfcfc;
}

.question-header, .question-footer, .wrapper-answer {
  display: inline-flex;
  width: 100%;
}

.question-header {
  justify-content: space-between;
}

.question-footer{
  justify-content: center;
}

[visible=true]{
    display:block;
}

.wrapper-answer, answer [visible=true] {
  border: 1px solid #eee;
  padding: 5px 12px;
  font-size: 14pt;
  margin: 15px 0 10px;
  width:90%;
}

answer p {
  margin-left: 16px;
  /*font-size: 12pt;
  padding: 6px;
  border: 1px solid #000;
  width:100%;*/
}

.wrapper-answer:hover, img:hover, .change-question-button:hover {
  cursor: pointer;
  /*background-color: #ddd;*/
}

.wrapper-answer:hover {
  background-color: #eee;
}


explanation {
  display: none;
  /*max-width: 30vw;*/
}

answer [visible=true] {

  margin: 5px 0 20px;
  padding: 15px 12px;
  font-size: 12pt;
  word-break: break-word;
  border:0;
  background-color: #fdfdfd;
}

answer [visible=true] p {
  border: 0;
}

img {
  height: auto;
  width: 20px;
}

[clicked=true] .wrapper-answer, [clicked=true] .wrapper-answer:hover{
  background-color:#d30000;
}

[clicked=true][correct=true] .wrapper-answer{
  background-color:#aceb84;
}

.change-question-button{
  padding:15px;
  margin:15px 15px 0;
  border: 4px solid #bbb;
  border-radius: 7px;
  font-size:1.3em;
}
.change-question-button:hover{
  background-color: #bbb;
}

@media (min-width: 768px) {
  question {
    max-width: 600px;
  }
}
